/* Общий стиль для элементов */
h1, h2, h3, h4, ul, input, label, legend, div, p, textarea, button {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #9bc2be;
}

#main_cite {
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
}

#logo_img {
    margin-right: 1%;
    float: left;
    height: 7vw;
    width: 7%;
    position: relative;
}

#main_header {
    top: 0;
    padding: 1%;
    z-index: 100;
    height: 7vw;
    background-color: #5bc5bb;
    color: #28533a;
    text-align: center;
    border-block: 4px solid #4f989b;
}

footer a {
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #517961;
}

footer a:hover {
    color: #234744;
}

a {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #517961;
    text-decoration: none;
}

.back_div {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    top: 30px;
    margin-top: 30px;
    margin-left: 10px;
    z-index: 1000;
}

#back {
    cursor: pointer;
    font-weight: bold;
    color: #28533a;
    background-color: #52afa7;
    padding: 1vw;
    padding-inline: 2vw;
    text-decoration: none;
    border: 5px solid #45938b;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

#back:hover {
    text-decoration: none;
    border: solid 1px;
    background-color: #4ba49d;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.footer_cards {
    margin-top: 4%;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    -webkit-justify-content: left;
    -ms-justify-content: start;
}

.footer_card {
    padding: 1%;
    cursor: pointer;
    border: 3px solid #45938b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 10%;
    height: 10%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.footer_social {
    width: 100%;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.footer_gradientTG,
.footer_gradientVK,
.footer_gradientGH {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #18f2ea, #43cdff, #00f2ff);
    background: -webkit-linear-gradient(45deg, #18f2ea, #43cdff, #00f2ff);
    background: -moz-linear-gradient(45deg, #18f2ea, #43cdff, #00f2ff);
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, 0); /* Начальная позиция */
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.footer_gradientVK {
    background: linear-gradient(45deg, #5294a2, #6ea3b6, #5a9da0);
    background: -webkit-linear-gradient(45deg, #5294a2, #6ea3b6, #5a9da0);
    background: -moz-linear-gradient(45deg, #5294a2, #6ea3b6, #5a9da0);
}

.footer_gradientGH {
    background: linear-gradient(45deg, #ffffff, #7b7f80, #00f2ff);
    background: -webkit-linear-gradient(45deg, #ffffff, #7b7f80, #00f2ff);
    background: -moz-linear-gradient(45deg, #ffffff, #7b7f80, #00f2ff);
}

.footer_card:hover .footer_gradientTG {
    transform: translate(-50%, -100%); /* Перемещение градиента наверх */
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
}

.footer_card:hover .footer_gradientVK {
    transform: translate(-50%, -100%); /* Перемещение градиента наверх */
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
}

.footer_card:hover .footer_gradientGH {
    transform: translate(-50%, -100%); /* Перемещение градиента наверх */
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
}

@media (max-width: 767px) {

    #main_cite {
        text-align: center;
    }

    #enter_cite {
        text-align: center;
        width: 1vw;
    }

}

footer {
    background-color: #5bc5bb;
    color: #28533a;
    margin-top: 5%;
    padding: 1%;
    border-top: 4px solid #4f989b;
}

.footer-grid {
    display: grid;
    display: -ms-grid;
    gap: 20px;
    text-align: left;
}

.footer-section {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    background-color: #57c1b6;
    border: 2px solid #52b7ad;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2%;

}

.footer-section:hover {
    transform: translateY(-4%) scale(1.08);
    -webkit-transform: translateY(-4%) scale(1.08);
    -moz-transform: translateY(-4%) scale(1.08);
    -ms-transform: translateY(-4%) scale(1.08);
    border-color: #4f989b;
    filter: brightness(1.05);
    -webkit-filter: brightness(1.05);
    -moz-filter: brightness(1.05);
    -ms-filter: brightness(1.05);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

footer {
    align-content: center;
}

.upper {
    margin-top: 1%;
    font-size: larger;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    color: #28533a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 1001px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: (1fr)[3];
    }
}

@media (max-width: 1000px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: (1fr)[2];
    }
    .footer-section:hover {
        transform: translateY(0) scale(1);
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
    }
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
    }
    .footer-section:hover {
        transform: translateY(0) scale(1);
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
    }

    #main_cite {
        text-align: center;
        position: static;
        margin-top: 8vw;
        vertical-align: middle;
        height: 25vw;
        font-size: 5vw;
        font-weight: bold;
    }

    #logo_img {
        margin-right: 1%;
        float: left;
        height: 25vw;
        width: 25%;
        position: relative;
    }

    #main_header {
        top: 0;
        padding: 1%;
        z-index: 100;
        height: 25vw;
        background-color: #5bc5bb;
        color: #28533a;
        text-align: center;
        border-block: 4px solid #4f989b;
    }

}