/* General styling for elements */
h1, h2, h3, h4, input, label, legend,div
{
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.back_div
{
    position: sticky;
    top:10px;
}

#back
{
    width: max-content;
    cursor: pointer;
    font-weight: bold;
    color: #28533a;
    background-color: #52afa7;
    display: block;
    padding-inline: 10px;
    text-decoration: none;
    border-width: thick;
    border-radius: 10px;
    border-color: black;
    box-shadow: black;
    border: 5px solid #45938b;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#back:hover
{
    text-decoration: none;
    border: solid 1px;
    transition: all 0.3s ease;
    background-color: #4ba49d;
}

body
{
    background-color:#9bc2be;
}

#main_cite {
    text-align: left;
    margin-top: 2%;
    margin-left: 8vw;
    font-size: 32px;
    font-weight: bold;
}

#logo_img {
    margin-left: 2vw;
    top: 0;
    float: left;
    width: 100px;
    margin-right: 3vw;
}

#main_header {
    top: 0;
    z-index: 100;
    height: 100px;
    padding-block: 2%;
    background-color: #5bc5bb;
    color: #28533a;
    border: 2px solid #45938b;
    border-radius: 8px;
    border-bottom: 0;
    text-align: center;
}

footer {
    border-radius: 10px;
    background-color: #5bc5bb;
    color: #28533a;
    text-align: center;
    position: static;
    margin-top: 50px;
    bottom: 0;
    border: 2px solid #45938b;
    border-radius: 8px;
    padding-bottom: 1%;
}

.info
{
    color: #28533a;
    width: 16%;
    position: relative;
    float: right;
    background-color: #5bc5bb;
    box-shadow: 0 0 5px;
    padding: 1vw;
    overflow: hidden;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #517961;
}

footer a:hover {
    color: #234744;
}

.content-block h2
{
    text-align: center;
}


aside ul {
    list-style: square;
}

.content-block {
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 2rem;
    border:solid 2px #45938b; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #517961;
    text-decoration: none;
}

section dl dt {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
}

section dl dd {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}

section ol li {
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-style: normal;
}


p {
    margin-bottom: 1rem;

}

@media (min-width: 767px) 
{
    #mainvideo
    {
        width: 59vw;
    }
    .gallery
    {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    
    .gallery > li
    {
        cursor: pointer;
        flex-basis: 250px;
        flex-grow: 1;
        position: relative;
        text-align: center;
    }
    
    .gallery li img {
        object-fit: cover;
        width: 100%; 
        height: 100%; 
        vertical-align: middle; 
        border-radius: 5px;
     }
    
     .overlay 
     { 
        position: absolute;
        width: 100%;
        height: 100%; 
        background: rgba(92, 92, 92, 0.502); 
        top: 0; 
        left: 0; 
        transform: scale(0); 
        transition: all 0.2s 0.1s ease-in-out; 
        color: #89f2e9; 
        border-radius: 5px; 
        font-weight: bold;
        display: flex; 
        align-items: center; 
        justify-content: center; }
    
     .gallery li:hover .overlay 
     { 
        transform: scale(1); 
    }

    section.card-block  
    {
        border-block: solid 4px #45938b;
        display: block;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        text-align: center; 
        margin-left: -10px;
        box-shadow: 10 10px 8px rgba(0, 0, 0, 1);
        padding: 2rem;
    }
    
    .gallery_proc {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .gallery_proc li {
        position: relative;
        margin: 10px;
        overflow: hidden;
        display: inline-block; 
        vertical-align: top; 
    }
    
    .gallery_proc li img {
        display: block;
        width:50vw; 
        border-radius: 10px;
        height: 25vw;
        transition: transform 0.3s ease;
    }
    
    .overlay_proc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: linear-gradient(to top, #5bc5bb, rgba(255, 165, 0, 0));
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        transform: translateY(100%);
        transition: transform 0.3s ease;
    }
    
    .overlay_proc h1 {
        background-color: #5bc5bb;
        border-radius: 4px;
        width:fit-content;
        padding: 3px;
        margin-top: 10%;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }
    
    .overlay_proc h2 {
        text-align: left;
        margin-top: 10px;
        font-size: 20px;
    }
    .gallery_proc li:hover img {
        transform: scale(1.1);
    }
    
    .gallery_proc li:hover .overlay_proc {
        transform: translateY(0);
    }
    
    .notification_check
    {
        display: none;
    }
}

@media (max-width: 767px) {
    #mainvideo
    {
        width: 59vw;
    }
    .info
    {
        border: solid #45938b ;
        border-radius: 2vw;
        text-align: center;
        width: 100vw;
        height: 29%;
        margin-right: -6vw;
        margin-bottom: 10vw;
    }
}

@media (max-width: 767px)
{
    
}